@{
    ViewData["Title"] = "Discount Usage Report";
}

<div class="container">
    <table id="discountUsageReportTable" class="display" width="100%"></table>
</div>

<div>
    <canvas id="barChart"></canvas>
</div>


@section scripts{
    <script src="~/js/discountusagereport.js"></script>
}
